.main-font, #packs .custom-order h3, #packs .couple-pack h3, #packs .family-pack h3, footer .contacto .column-footer h3, #reviews .testimonials h2, #menu .menu-container #menu-items .card .card-body .item-info button, #menu .menu-container #menu-items .card .card-body .item-info a, #menu .menu-container #menu-items .card .card-body .card-title, #menu .menu-container h2, #about-us .about-container .right-text h2, nav .navbar .container-fluid .collapse, #home .home-bg .left-bg .burger-info-left .left-button, #home .home-bg .left-bg .burger-info-left h2 {
  font-family: "Paytone One", sans-serif;
}

.secondary-font, #packs .custom-order p, #packs .couple-pack p, #packs .family-pack p, footer .brand p, footer .contacto .column-footer p, #reviews .testimonials .reviews-container .review .name, #reviews .testimonials .reviews-container .review .text, #menu .menu-container #menu-items .card .card-body .card-text, #menu #cart-container .totalDiv, #menu #cart-container #cart .cartItem-container .cartItem p, #about-us .about-container .right-text p, #home .home-bg .left-bg .burger-info-left p {
  font-family: "Barlow", sans-serif;
}

.italic-font, #reviews .testimonials h3, #menu .menu-container p, #about-us .about-container .right-text h3, #home .home-bg .right-bg .right-center .price p {
  font-family: "Pacifico", cursive;
}

#home .home-bg {
  display: flex;
  position: relative;
}
#home .home-bg .left-bg {
  background-color: #fafafa;
  height: 100vh;
  width: 55%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-bg .left-bg .burger-info-left {
  width: 70%;
  max-width: 900px;
  padding-right: 20%;
  font-size: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .home-bg .left-bg .burger-info-left .best-deal {
  width: 2em;
}
#home .home-bg .left-bg .burger-info-left h2 {
  color: #311b20;
  font-size: 1em;
}
#home .home-bg .left-bg .burger-info-left p {
  font-size: 0.25em;
  color: #787979;
  padding: 15px 0px;
}
#home .home-bg .left-bg .burger-info-left .left-button {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 0.2em;
  max-width: 200px;
  text-align: center;
  width: 10em;
}
#home .home-bg .right-bg {
  background-color: red;
  height: 100vh;
  width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}
#home .home-bg .right-bg .right-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: -2.5em;
  margin-bottom: -1em;
}
#home .home-bg .right-bg .right-center .price {
  background-color: white;
  width: 2em;
  height: 2em;
  border-radius: 300px;
  position: absolute;
  top: -0.9em;
  right: 0em;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#home .home-bg .right-bg .right-center .price p {
  margin-bottom: 0px;
  font-size: 0.3em;
  color: #f8bd24;
}
#home .home-bg .right-bg .right-center .price #cover-price {
  color: red;
  font-size: 0.55em;
}
#home .home-bg .right-bg .right-center .arrows {
  display: flex;
  justify-content: space-between;
  width: 2.5em;
}
#home .home-bg .right-bg .right-center .arrows #button-right {
  background-color: red;
  border: 0px;
}
#home .home-bg .right-bg .right-center .arrows #button-right .arrow-right {
  width: 0.7em;
  color: #f87818;
}
#home .home-bg .right-bg .right-center .arrows #button-left {
  background-color: white;
  border: 0px;
}
#home .home-bg .right-bg .right-center .arrows #button-left .arrow-left {
  width: 0.7em;
  color: #f87818;
}
#home .home-bg .right-bg .right-center .burger-photo {
  width: 5em;
}
#home .home-bg .right-bg .burger-text {
  height: 100vh;
  position: absolute;
  right: 0px;
  opacity: 0.3;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav .navbar {
  font-size: 0.9rem;
}
nav .navbar .container-fluid {
  padding: 0px 50px;
}
nav .navbar .container-fluid .navbar-brand .icon-background {
  background-color: red;
  height: 90px;
  width: 100px;
  margin-top: -15px;
  padding-top: 20px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav .navbar .container-fluid .navbar-brand .icon-background .icon {
  height: 50%;
}
nav .navbar .container-fluid .navbar-brand .icon-background p {
  font-size: 0.7rem;
  color: white;
  font-size: bold;
  font-family: "Goblin One", cursive;
  transform: rotate(-5deg);
}
nav .navbar .container-fluid .collapse {
  margin-top: -20px;
}
nav .navbar .container-fluid .collapse .nav-left {
  padding-left: 20px;
}
nav .navbar .container-fluid .collapse .nav-left .nav-item {
  padding: 0px 10px;
}
nav .navbar .container-fluid .collapse .nav-left .nav-item .nav-link {
  color: black;
}
nav .navbar .container-fluid .collapse .nav-right .nav-item {
  margin-left: 20px;
}
nav .navbar .container-fluid .collapse .nav-right .nav-item .nav-link {
  color: white;
}
nav .navbar .container-fluid .collapse .nav-right #show-cart {
  background-color: #f8bd24;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
}

#about-us .about-container {
  display: flex;
  background-image: url("../img/texture.png");
  max-height: 750px;
}
#about-us .about-container .left-picture {
  background-image: url("../img/about.jpg");
  height: 80vh;
  width: 50%;
  background-size: cover;
  background-position: bottom;
  position: relative;
  max-height: 750px;
}
#about-us .about-container .right-text {
  height: 100vh;
  width: 60%;
  padding: 2%;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
}
#about-us .about-container .right-text h3 {
  color: red;
}
#about-us .about-container .right-text h2 {
  color: #311b20;
  font-size: 4em;
  padding-bottom: 20px;
}
#about-us .about-container .right-text p {
  color: #787979;
  font-size: 1.2em;
  max-width: 500px;
}
#about-us .about-container .right-text .signature {
  width: 15em;
  padding-top: 20px;
}

#menu {
  padding-top: 30px;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  padding-bottom: 1em;
  position: relative;
  /* cart*/
}
#menu #cart-container {
  height: 100vh;
  width: 30%;
  position: fixed;
  font-size: 20px;
  top: 0;
  right: 0;
  background-color: #fafafa;
  box-shadow: -1px 0px 5px #555555;
  z-index: 1;
  box-shadow: 0 0 0 9999px #000000b0;
  padding-top: 5%;
  display: none;
}
#menu #cart-container .fa-window-close {
  color: red;
  position: absolute;
  right: 0;
  top: -0.1em;
  z-index: 10;
  margin: 0.4em;
  margin-right: 0.5em;
}
#menu #cart-container #cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 7vh;
  padding: 1em;
}
#menu #cart-container #cart .cartItem-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  position: relative;
}
#menu #cart-container #cart .cartItem-container .number {
  position: absolute;
  bottom: -20px;
}
#menu #cart-container #cart .cartItem-container .fa-trash {
  color: #787979;
  font-size: 0.8em;
}
#menu #cart-container #cart .cartItem-container .cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 4px #868686;
}
#menu #cart-container #cart .cartItem-container .cartItem .cartItem-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu #cart-container #cart .cartItem-container .cartItem .cartItem-right p {
  padding-right: 0.6em;
}
#menu #cart-container #cart .cartItem-container .cartItem .cartItem-right .controls {
  display: flex;
  padding-right: 10px;
  color: #787979;
}
#menu #cart-container #cart .cartItem-container .cartItem .cartItem-right .controls button {
  margin-right: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#menu #cart-container #cart .cartItem-container .cartItem p {
  font-size: 0.9em;
  color: black;
  margin-bottom: 0px;
}
#menu #cart-container .totalDiv {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 7vh;
  max-height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.3em;
}
#menu #cart-container .totalDiv .totalRight {
  background-color: red;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu #cart-container .totalDiv .totalRight p {
  margin-bottom: 0px;
  color: white;
}
#menu #cart-container .totalDiv .totalLeft {
  background-color: white;
  width: 50%;
  border-top: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu #cart-container .totalDiv .totalLeft p {
  margin-bottom: 0px;
  color: red;
}
#menu .menu-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
#menu .menu-container p {
  color: red;
  font-size: 0.3em;
}
#menu .menu-container h2 {
  font-size: 0.6em;
  padding-bottom: 20px;
}
#menu .menu-container #menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
}
#menu .menu-container #menu-items .card {
  width: 250px !important;
  height: 320px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0.5px 0.5px 10px #c9c9c9;
}
#menu .menu-container #menu-items .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
#menu .menu-container #menu-items .card .card-body .food-image {
  height: 7rem;
  width: 7rem;
  background-image: url("../img/burgerItem/bigMc.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 200px;
}
#menu .menu-container #menu-items .card .card-body .card-text {
  font-size: 0.8rem;
  text-align: center;
  color: #787979;
}
#menu .menu-container #menu-items .card .card-body .card-title {
  padding-top: 15px;
}
#menu .menu-container #menu-items .card .card-body .item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#menu .menu-container #menu-items .card .card-body .item-info a {
  text-decoration: none;
  font-size: 0.7rem;
  color: red;
  border: 1px solid red;
  border-radius: 30px;
  padding: 0.7rem;
}
#menu .menu-container #menu-items .card .card-body .item-info button {
  text-decoration: none;
  background-color: white;
  font-size: 0.7rem;
  color: red;
  border: 1px solid red;
  border-radius: 30px;
  padding: 0.7rem;
}
#menu .menu-container #menu-items .card .card-body .item-info .price-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu .menu-container #menu-items .card .card-body .item-info .price-box p {
  text-align: center;
  color: white;
  background-color: red;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 30px;
  margin: 0 !important;
  font-size: 1.3rem;
}

#reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8%;
}
#reviews .testimonials {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}
#reviews .testimonials h3 {
  color: red;
}
#reviews .testimonials h2 {
  color: #311b20;
  padding-bottom: 2em;
}
#reviews .testimonials .reviews-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1200px;
}
#reviews .testimonials .reviews-container .review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
}
#reviews .testimonials .reviews-container .review .face {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-bottom: 2em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#reviews .testimonials .reviews-container .review .face1 {
  background-image: url("../img/face1.jpg");
}
#reviews .testimonials .reviews-container .review .face2 {
  background-image: url("../img/face2.jpg");
}
#reviews .testimonials .reviews-container .review .face3 {
  background-image: url("../img/face3.jpg");
}
#reviews .testimonials .reviews-container .review .text {
  text-align: center;
  color: #787979;
}
#reviews .testimonials .reviews-container .review .name {
  color: #311b20;
  font-size: bold;
}

#gallery {
  display: flex;
  width: 100%;
  padding-bottom: 3em;
}
#gallery div {
  height: 30vh;
  background-color: black;
  flex: 1;
  background-position: center;
  background-size: cover;
}
#gallery .photo1 {
  background-image: url("../img/photo1.jpg");
}
#gallery .photo2 {
  background-image: url("../img/photo2.jpg");
}
#gallery .photo3 {
  background-image: url("../img/photo3.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallery .photo3 .fa-instagram {
  color: white;
}
#gallery .photo4 {
  background-image: url("../img/photo4.jpg");
}
#gallery .photo5 {
  background-image: url("../img/photo5.jpg");
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
footer img {
  position: absolute;
  bottom: -4em;
  left: -300px;
  width: 28em;
}
footer .contacto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0 20%;
  max-width: 1600px;
}
footer .contacto .column-footer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  width: 5em;
  flex: 1;
}
footer .contacto .column-footer h3 {
  color: red;
  padding-bottom: 15px;
  font-size: 1.2em;
}
footer .contacto .column-footer p {
  color: #787979;
  font-size: 0.8em;
}
footer .contacto .column-footer a {
  text-decoration: none;
  padding-top: 15px;
}
footer .contacto .column-footer a p {
  background-color: red;
  color: white;
  padding: 5px 40px;
  border-radius: 30px;
}
footer .contacto .column-footer input {
  border: none;
}
footer .brand {
  display: flex;
  justify-content: space-around;
}
footer .brand p {
  color: #787979;
  padding: 50px;
  padding-bottom: 20px;
}

#packs {
  display: flex;
  justify-content: center;
  height: 50vh;
  max-height: 400px;
  width: 100%;
}
#packs .family-pack {
  background-color: red;
  padding: 50px 10% 50px 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  flex: 1;
}
#packs .family-pack h3 {
  color: white;
}
#packs .family-pack p {
  color: white;
}
#packs .family-pack a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 30px;
  max-width: 150px;
  text-align: center;
}
#packs .family-pack .half-burger {
  position: absolute;
  right: -29em;
  bottom: 0em;
  width: 600px;
}
#packs .couple-pack {
  background-color: #f8bd24;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  padding: 50px 10% 50px 2%;
  flex: 1;
}
#packs .couple-pack h3 {
  color: white;
}
#packs .couple-pack p {
  color: white;
}
#packs .couple-pack a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 30px;
  max-width: 150px;
  text-align: center;
}
#packs .couple-pack .half-burger {
  position: absolute;
  right: -23em;
  bottom: 0.5em;
}
#packs .custom-order {
  background-color: #f87818;
  padding: 50px 10% 50px 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  flex: 1;
}
#packs .custom-order h3 {
  color: white;
}
#packs .custom-order p {
  color: white;
}
#packs .custom-order a {
  color: #f87818;
  text-decoration: none;
  background-color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: bold;
  max-width: 150px;
  text-align: center;
}
#packs .custom-order .half-burger {
  position: absolute;
  right: -26em;
  bottom: 0em;
  width: 550px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

/*# sourceMappingURL=style.css.map */
