#menu {
    padding-top: 30px;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 10vh;
    padding-bottom: 1em;

   
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        p {
            @extend .italic-font;
            color: $primary-color-red;
            font-size: 0.3em
        }
        h2 {
            @extend .main-font;
            font-size: 0.6em;
            padding-bottom: 20px;
        }
        .menu-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 5%;
            
            .card {
                width: 250px!important;
                height: 320px;
                margin-bottom: 20px;
                border: none;
                box-shadow: 0.5px 0.5px 10px rgb(201, 201, 201);
                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: none;

                    .food-image {
                        height: 7rem;
                        width: 7rem;
                        background-image: url("../img/bigmac.png");
                        background-size: 170px;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 200px;
                    }
                    .card-text {
                        font-size: 0.8rem;
                        @extend .secondary-font;
                        text-align: center;
                        color: $secondary-color-grey;
                    }
                    .card-title {
                        @extend .main-font;
                        padding-top: 15px;
                    }
                    .item-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 80%;
                        a {
                            @extend .main-font;
                            text-decoration: none;
                            font-size: 0.7rem;
                            color: $primary-color-red;
                            border: 1px solid red;
                            border-radius: 30px;
                            padding: 0.7rem;
                        }
                        .price-box {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p {
                                text-align: center;
                                color: white;
                                background-color: $primary-color-red;
                                width: 2.2rem;
                                height: 2.2rem;
                                border-radius: 30px;
                                margin: 0!important;
                                font-size: 1.3rem;

                            }
                        }
                    }
                }
            }

        }
    }
}