//fonts
.main-font { font-family: 'Paytone One', sans-serif; }
.secondary-font { font-family: 'Barlow', sans-serif; }
.italic-font { font-family: 'Pacifico', cursive; }

//colors
$primary-color-red: red;
$primary-color-yellow : #f8bd24;
$primary-color-orange : #f87818;
$secondary-color-grey : #787979;
$secondary-color-black :#311b20;
